@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);


@font-face {
   font-family: 'BebasNeue';
   src: url(Fonts/BebasNeue.otf);

}

body{
	font-family: 'BebasNeue';
	font-size: 280%;
  color:white;
	background:black;
  letter-spacing: 2px;
}

.wrap{
	max-width: 1000px;
	margin:0px;
  /*\padding:0px;*/
}

.type-wrap{
  padding-top:300px;
  padding-left: 20px;
	background:black;
}
